body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 250;
    font-size: 1em;
    line-height: 1.7;
    color: black;
}
.large {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 430;
    font-size: 1.7em;
    line-height: 1.4;
    color: black;
}

h1 {
    display: inline;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1.5;
    color: black;
}

h2 {
    display: inline;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 430;
    font-size: 2.2em;
    line-height: 1.5;
    color: black;
}

h3 {
    display: inline;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 430;
    font-size: 1.7em;
    line-height: 1.4;
    color: black;
}

a {
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
    color: black;
}

h1 a,h3 a {
    text-decoration: unset;
  }

.img-cropper {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-cropper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
}