body {
    background-color: rgb(234, 234, 234);
    font-weight: 400;
    font-size: 1.15em;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color: black;
}

a:not(.nohl) {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
        to right,
        rgba(255, 225, 0, 0.7) 10%,
        rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
    color: black;
}

.nohl {
    color: black;
    text-decoration: none;
}

.large {
    font-size: 1.2em;
}

hr {
    border: 1px dotted;
}

h1:not(.title) {
    font-size: 2em;
    margin-bottom: 1em;
}

h2, h3, h4 { 
    font-size: 1.2em;
    margin-bottom: 1em;
}

.menu h2 {
    margin-bottom: 0em;
}

/* List-type sites, Google Docs -> Markdown */
.page table {
    border-collapse: separate; 
    border-spacing: 0.3em;
}

.page td {
    vertical-align: top;
}

/* Do not display empty header */
.page th {
    display: none;
}

/* Crop image if larger than medium viewport */
.img-cropper {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-cropper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Round transparent gradient mask */
.masked {
    mask-image: radial-gradient(ellipse, black 50%, transparent 75%);
}

.padded {
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}